.dart_tool/
.packages
build/
pubspec.lock

doc/api/

.env*

*.dart.js
*.info.json      # Produced by the --dump-info flag.
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

.env